<header class="header">
  <div class="l-wrapper l-flex--center-between">
    <a class="header__logo" href="#">
      <h1>Hide</h1>
    </a>
    <div class="header__options l-flex--center-between">
      <span class="account">My Account</span>
      <img class="cart" src="assets/icons/cart.svg" alt="Shopping Cart">
      <img class="search" src="assets/icons/search.svg" alt="Search">
      <div class="burger l-flex">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>
    </div>
  </div>
</header>
