<div class="products l-wrapper">
  <div class="products__options l-flex">
    <span>Products</span>
    <div class="dropdown">
      <label for="filter">Sort By:</label>
      <select id="filter" name="filter" [(ngModel)]="selectedCategory">
        <option *ngFor="let category of categories"
        [ngValue]="category.name | lowercase">
          {{category.name}}
        </option>
      </select>
    </div>
  </div>
  <ul class="products__list l-flex">
    <li class="product" *ngFor="let product of products | filter:selectedCategory">
      <img class="product__thumbnail" src={{product.thumbnail}} alt={{product.name}}>
      <div class="product__info l-flex">
        <span class="name">{{product.name}}</span>
        <span class="price">{{product.price}}</span>
      </div>
    </li>
  </ul>
</div>
