body {
  background-color: white;
  font-size: $base-font-size;
  line-height: 1.5rem;
  font-family: $playfair;
  color: $primary;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
