// Colors
$white: #fff;
$black: #222;
$primary: #313234;
$secondary: #A8AEAF;

// Typography
$base-font-size: 14px;
$vollkorn: 'Vollkorn', sans-serif;
$playfair: 'Playfair Display', sans-serif;
$helvetica: 'Helvetica', sans-serif;
